/* DEBUG
* { outline: solid 1px red; }
*/

/*********** General Styles Start ***********/
@import url('');

:root {
    --textColor: #3a3a3a;
    --orange: #FF6600;
    --beige: #F6F6EF;
    --grey: #828282;

}

body {
  color: var(--textColor);
}

h1, h2, h3, h4, h5, h6 {
  font-family: '', Helvetica, sans-serif;
}

a {
  color: var(--textColor) !important;
  text-decoration: none !important;
}

a:hover, a:active {
  text-decoration: underline !important;
}

.container {
  background: var(--beige);
}

.App {
  text-align: left !important;
}

/* Here starts the codes for header */

/* Here ends the code for header */


/* Here starts the codes for main section */
.Container.Posts table {
  width: 100%;
  font-size: 0.8rem;
}

.Container.Posts table tr td {
  padding: 0.5rem;
}
/* Here ends the code for main section */


/* Here starts the codes for footer */

/* Here ends the code for footer */
